:root {
  --link: #95c4ed;
  --text: #fafbfc;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.container {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
}  

.list {
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 30%;
  flex-direction: row;
  gap: 20px;
}

footer 
{
  width: 100vw;
  height: 90px;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
}

hr.mainLine {
  border-top: 1px solid white;
  width: 100px;
}

hr.workSeperator {
  border-top: 1px solid white;
  margin-top:50px;
  margin-bottom:50px;
  width: 500px;
}

h1 {
  font-family: verdana;
  font-size: 72px;
  color: var(--text);
  text-align: center;
}

h2 {
  font-family: verdana;
  font-size: 32px;
  color: var(--text);
  text-align: center;
  text-style: bold;
}

h3 {
  font-family: verdana;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  text-style: bold;
}

p {
  font-family: verdana;
  font-size: 32px;
  color: var(--text);
  text-align: center;
  text-style: bold;
}

body {
	background-color: #111111;
}

li {
    float: left;
    align-center: center;
    text-size: 32px;
    font-family: verdana;
    word-wrap: normal;
}

li a {
  display: block;
  color: inherit;
  text-align: inherit;
  width: 200px;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 32px;
  text-style: bold;
  word-wrap: inherit;
}

li b {
  display: block;
  color: var(--link);
  text-align: left;
  width: 250px;
  height: 50px;
  font-size: 24px;
  text-style: bold;
  text-decoration: underline;
  word-wrap: inherit;
  white-space: nowrap;
}

li c {
  display: block;
  color: var(--text);
  text-align: inherit;
  width: 250px;
  height: 200px;
  font-size: 14px;
  text-style: bold;
  word-wrap: break-word;
  white-space: pre-line;
}