.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr.mainLine {
  border-top: 1px solid white;
  width: 100px;
}

h1 {
  font-family: verdana;
  font-size: 72px;
  color: white;
  text-align: center;
  text-style: bold;
}

h2 {
  font-family: verdana;
  font-size: 32px;
  color: white;
  text-align: center;
  text-style: bold;
}

p {
  font-family: verdana;
  font-size: 32px;
  color: white;
  text-align: center;
  text-style: bold;
}

body {
	background-color: #111111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left;
    text-size: 32px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 50px;
  text-decoration: none;
  text-size: 200%;
}

li a:hover {
    color:white; 
    text-decoration:none; 
    cursor:pointer;  
}